    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-row">
                    <h2>portfolio showcase</h2>
                    <a href="mailto:myportfolione@gmail.com">myportfolione@gmail.com</a>
                </div>
            </div>
        </div>
    </footer>