<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/styles.css">

    <link rel="stylesheet" href="./../bootstrap-5.3.2-dist/css/bootstrap-reboot.min.css">

    <link rel="stylesheet" href="./../bootstrap-5.3.2-dist/css/bootstrap-utilities.min.css">
    <link rel="stylesheet" href="./../bootstrap-5.3.2-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="./../bootstrap-5.3.2-dist/css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="./../bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
    <script src="./../bootstrap-5.3.2-dist/js/bootstrap.esm.min.js"></script>
    <script src="./../bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>

    <title>{{title}}</title>
</head>
<body>

    <div class="wrapper">

        {{> nav}}

        <main class="main">
            <div class="container">
                {{{body}}}
            </div>

        </main>
    </div>

    {{> footer}}
</body>
</html>